{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Sign Up{% endblock %}

{% block base_content %}
<div class="container" style="max-width: 1000px; margin:auto;">
    <div class="modal-dialog modal-signup">
		<div class="modal-content">
			<div class="modal-header">
				<div class="avatar">
					<img src="{% static 'assets/icons/based.png' %}" alt="Avatar">
				</div>				
				<h4 class="modal-title">Sign Up</h4>	
			</div>
			<div class="modal-body">
                {% if user.is_authenticated %}
                    <h3>You're already logged in as {{ user.get_full_name }}.</h3>
                {% else %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    Please fix the errors below.
                    <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}</li>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <hr>
                <form method="post">{% csrf_token %}
                <div class="clearfix">
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </span>                    
                            </div>
                            {{ form.first_name }}
                            <p class="help-inline text-danger"> <strong>{{ form.first_name.errors.as_text }}</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            {{ form.last_name }}
                            <p class="help-inline text-danger"> <strong>{{ form.last_name.errors.as_text }}</strong></p>
                        </div>
                    </div>
                <hr>
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            {{ form.username }}
                            <p class="help-inline"><small>{{ form.username.help_text }}</small></p>
                            <p class="help-inline text-danger"> <strong>{{ form.username.errors.as_text }}</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            {{ form.group_id }}
                            <p class="help-inline"><small>{{ form.group_id.help_text }}</small></p>
                            <p class="help-inline text-danger"> <strong>{{ form.group_id.errors.as_text }}</strong></p>
                        </div>
                    </div>
                <hr>
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            {{ form.password1 }}
                            <p class="help-inline text-danger"> <strong>{{ form.password1.errors.as_text }}</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="controls">
                            {{ form.password2 }}
                            <p class="help-inline text-danger"> <strong>{{ form.password2.errors.as_text }}</strong></p>
                        </div>
                    </div>
                <br/>
					<div class="col-lg-offset-3 col-lg-6 form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Sign Up</button>
                    </div>
                </div>
                </form>
                {% endif %}
			</div>
			<div class="modal-footer">
                <p>All fields are required. Already signed up? <a href="/login">Log in.</a></p>
            </div>
		</div>
	</div>
</div>
{% endblock %}
